/* .header_div{
    background-color: #B388FF;
    height:50px;
    text-align: center;
    padding:auto;
    margin-top: -25px;
    margin-right: -50px;
    margin-left:-50px;
    padding-top:7px;
    padding-bottom: 10px;
}

.main_div{

}

.footer_div{
    background-color: #B388FF;
}




.name_header{
    font-family: sans-serif;
}



.footer_header{
    font-style: italic;
}

.main_button{
    background-color: #00E676;
} */

img{
    width: 200px;
    height: 175px;
}